<%- include('header') %>
<div class="form-text text-dark">
  <h3>A propos</h3>
</div>
<div class="form-text">
  Ceci est un programme qui vous permet de poster de simple commentaire et pour
  parvenir a l'aboutissement de ce programme nous avons eu recours a Nodejs ,
  ExpressJs , Bootstrap , MomentJs , Body-parser , Express-session , Mysql.Il
  faut noter que c'est programme 100% javaScript , on a donc utilise du
  javascript poyr le front et aussi javaScript pour le back.
</div>
<a href="/" class="text-decoration-none text-dark">
  <div class="input-group mt-5">
    <span class="input-group-text">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-arrow-left-circle"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"
        />
      </svg>
    </span>
    <h6 class="m-2">Aller a la page d'acceuil</h6>
  </div>
</a>
<%- include('footer') %>
